<div class="row">
    <div class="col-xs-12">
        <img src="#" class="img-responsive" src="{{recipe.imagePath}}" style="max-height: 200px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">

        <span class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe 
                <span class="caret"></span> </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#" Add Ingredients></a>
            </li>
            <li>
                <a href="#" Edit Ingredients></a>
            </li>
            <li>
                <a href="#" Delete Ingredients></a>
            </li>
        </ul>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>